.block-img_and_text {

    .image-and-text--row {
        @include media-query('md') {
            --huge-space: 8rem;
        }

        margin: var(--huge-space) 0;

        @include media-query('md') {
            .desktop-only {
                display: flex;
                align-items: center;
            }
        }

    }

    .image-and-text--text {
        --flow-space: 2rem;

        @include media-query('md') {
            padding-left: var(--big-space);
        }
    }

    div[data-state=reversed] {
        .copy-and-text--text {
            @include media-query('md') {
                padding-left: 0;
                padding-right: var(--big-space);
            }
        }
    }

    iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
}