.block-copy {

  background: var(--color-badass, pink);

  > div {
    width: 100%;
    display: flex;
  }

  div > div {
    width: 400px;
  }

  &.copy_col__right {
    > div {
      flex-direction: row-reverse;
    }
  }

}
