// button,
.button {
    // @extend .radius;
    cursor: pointer;
    font: inherit;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    border: 1px solid get-color('primary');
    border: none !important;
    outline: none;
    background: get-color('primary');
    padding: 0.6rem 1.5rem;
    position: relative;
    color: get-color('light');
    // @extend .medium;
    // font-weight: 500;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    // border: none;
    // padding: 1rem 2rem;
    // margin: 0;
    // text-decoration: none;
    // background: #0069ed;
    // color: #ffffff;
    // font-family: sans-serif;
    // font-size: 1rem;
    // cursor: pointer;
    // text-align: center;
    // transition: background 250ms ease-in-out, 
    //             transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    // &[data-variant='ghost'] {
    //   border-color: currentColor;
    //   background: transparent;
    // }

    @include media-query('md') {
        &:hover {
            background: get-color('primary');
            border-color: get-color('primary');
            color: get-color('light');
        }
    }
}