.error404,
.search-no-results {
    article {
        margin-top: 8rem;

        form.searchform {
            margin-top: 2rem;
        }

        input.input-group-field {
            font-size: 16px;
            padding: 0.25rem 0.5rem;
        }

        input.button {
            color: get-color('light');
            margin-top: 0.5rem;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.search-results {
    article {
        margin-top: 1rem;

        &.entry-content {
            margin-top: 8rem;
        }
    }
}