.pill {
    display: inline-block;
    padding: 0.6rem 0.9rem;
    font-size: get-size('400');
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    border-radius: 1rem;

    // Apply a default background colour if no token set
    &:not([class*='bg-']) {
        background: get-color('dark-shade');
        color: get-color('light');
    }

    &.child {
        background: get-color('grey');
    }

    // Capitalize only in english
    [lang*='en'] & {
        text-transform: capitalize;
    }
}