.share-bar {

	position: relative;

	// margin-top: var(--flow-space, 1rem);

	// .button {
	// 	background-color: var(--color-dark, black);
	// 	color: var(--color-light, white);
	// 	svg {
	// 		path, circle, rect {
	// 			fill: var(--color-light, white);
	// 		}
	// 	}
	// 	&:hover {
	// 		background-color: var(--color-secondary, teal);
	// 		color: var(--color-light, white);
	// 	}
	// }

	svg {
	  width: 20px;
	  height: 20px;
	  margin-right: 7px;
	}

	.share-button,
	.copy-link {
	  // padding-left: var(--flow-space, 1rem);
	  // padding-right: var(--flow-space, 1rem);
	}

	.share-dialog {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  padding: var(--flow-space, 1rem);
	}

	.share-dialog {
	  display: none;
	  width: 95%;
	  max-width: 500px;
	  // box-shadow: 0 8px 16px rgba(0,0,0,.15);
	  z-index: -1;
	  // border: 1px solid #ddd;
	  // padding: 20px;
	  // border-radius: 4px;
	  background-color: var(--color-light, white);;
	}

	.clipboard-btn {
		min-width: 110px;
		// text-align: center;
		justify-content: center;
	}

	.share-dialog.is-open {
	  display: block;
	  z-index: 2;
	}

	header {
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 20px;
	}

	.targets {
	  display: grid;
	  grid-template-rows: 1fr 1fr;
	  grid-template-columns: 1fr 1fr;
	  grid-gap: 20px;
	  margin-bottom: 20px;
	}

	.close-button {
	  background-color: transparent;
	  border: none;
	  padding: 0;
	}

	.dialog-title {
		// padding-top: 0;
		margin-top: 0;
	}

	.close-button svg {
	  margin-right: 0;
	}

	.link {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 10px;
	  border-radius: 4px;
	  background-color: #eee;
	}

	.pen-url {
	  margin-right: 15px;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}

	a.is-copy-successful {
		border-color: green;
		color: green;
		&:hover {
			background-color: rgba(var(--color-primary, teal),0.2);
			color: green;
		}
	}

}