.site-header {

    position: sticky;
    top: 0;
    z-index: 10;

    &--inner {
        padding: 0.8rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        position: relative;
    }

    &--logo {
        svg {
            width: 200px;
        }
    }

}

.site-header-desktop-menu {
    .primary-navigation {
        display: flex;
        align-items: baseline;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    // Temp
    // ul.sub-menu {
    //     flex-direction: column;
    // }
}

.secondary-navigation--container {
    z-index: 0;
    transform: translateY(-100%);
    position: absolute;
    //visibility: hidden;
    transition: 0.3s;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #aaaaaa;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;

    &.active {
        transform: translate(0, 0%);
        //visibility: visible;
    }

    //.secondary-navigation {

    .wrapper {
        padding: 0.5rem;

        a {
            text-decoration: none;
        }

        .socials {
            margin-top: 2rem;
            justify-content: center;
        }
    }

    ul li {
        display: inline;
    }

    ul {
        display: flex;
        justify-content: right;
    }

    //}
}


.site-header-desktop-menu {
    display: none;
}

.site-header-mobile-toggle {
    display: block;
}

@include media-query('md') {
    .site-header-desktop-menu {
        display: block;
    }

    .site-header-mobile-toggle {
        display: none;
    }
}