.site-footer {
	background-color: var(--color-dark);
	color: var(--color-light);
	min-height: 300px; // temp
	margin-top: get-size('600');
	padding-top: get-size('600');
	padding-bottom: get-size('600');
}

.footer-logo {
	svg {
		path {
			fill: var(--color-secondary);
		}
	}
}