.socials {
    display: flex;

    a {
        text-decoration: none;
        margin-right: calc(var(--flow-space)/2);

        &:last-of-type {
            margin-right: 0;
        }

        svg {
            height: 25px;

            path,
            circle {
                fill: var(--color-primary-shade);
            }
        }
    }
}

footer {
    .socials {
        a {
            svg {

                path,
                circle {
                    fill: var(--color-white);
                    transition: 0.3s;
                }

                @include media-query('md') {
                    &:hover {

                        path,
                        circle {
                            fill: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}