.card-grid {
	display: grid;
	grid-gap: 1rem;
	> * {
		max-width: 700px;
	}
}
@supports (width: min(250px, 100%)) {
	.card-grid {
		grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
	}
}