.category-list__wrapper {
    flex-wrap: wrap;
    grid-row-gap: 0.5rem;

    li {
        margin-right: 0.75rem;

        &:last-of-type {
            margin-right: 0;
        }

        &.active {
            color: get-color('primary');
        }
    }
}

.category-cards {
    .category-list {
        @extend .card-grid;

        .pill {
            width: 100%;
            border-radius: 0px;
        }
    }

    .category-list>* {
        margin: 0;
    }
}