.side-by-side {
    // display: flex;

    // &>div {
    //     width: 50%;
    // }

    display: grid;
    grid-gap: 1rem;

    @supports (width: min(350px, 100%)) {

        grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));

    }
}

.third-column {
    .side-by-side {
        @include media-query('md') {
            grid-template-columns: repeat(12, 1fr);
        }

        .copy-column {
            p {
                margin-bottom: calc(var(--flow-space)/2);
            }

            @include media-query('md') {
                grid-column: auto/span 4;
            }

            &.flow {
                @extend .flow--small;
            }
        }
    }
}