.with-sidebar {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
  align-items: stretch;
  gap: var(--flow-space, 2rem);
}

.sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
}
